[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
requests = "*"
sklearn = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
numpy = "*"
jupyter = "*"
plotly = "*"

[requires]
python_version = "3.7.1"
